
<head>
        <title> Mood-based Music Recommendations </title>
        <link rel = 'stylesheet' href='/static/style.css'>
    </head>
    <div id='bar'>
            <ul>
                <li><a href="/"> Song Reccomendations </a></li>
                <li><a href="/rank"> Rank a Song</a></li>
                <li><a href="/how"> How It Works</a></li>
            </ul>
    </div>
    <body>
            <h1> How do we give song recommendations? </h1>
            <p>
                <strong> See diagram <strong>
            </p>
            <p>
                <img src='/static/dataflow.png' alt='Data Flow' style="width:500px;height:600px;">
            </p>
            
        </body>
        
        
        </html>